{% extends 'base.html' %} 
{% block content %}
<h1>THIS IS ABOUT ME STUFF</h1>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">ABOUT Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcome to our store!!!</p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros
          tortor, consectetur id ligula eu, feugiat consectetur sapien. Aliquam
          varius massa eget nulla ultricies interdum. Aliquam laoreet est in
          dolor lobortis tincidunt. Nulla facilisi. Nam vel eros sapien. Vivamus
          hendrerit tempus nibh, sed consectetur purus molestie nec. Proin
          dapibus sollicitudin risus, eleifend dignissim massa. In risus ex,
          tincidunt eu mi posuere, cursus euismod metus. Ut porta ac arcu ut
          tincidunt. Nullam dui dolor, mollis at congue et, commodo ac ligula.</br></br>
          In tempus, lacus et commodo tincidunt, justo leo laoreet libero, vitae
          sollicitudin sem sapien sit amet risus. Pellentesque ut lorem mollis,
          sollicitudin massa vel, pulvinar augue. Etiam non ipsum nulla. Nunc
          convallis nisl luctus arcu blandit vehicula. Curabitur et magna at
          arcu rhoncus consectetur. Proin euismod, augue et laoreet tempor,
          turpis magna auctor leo, vitae convallis velit lacus ut dui.</br></br> Duis vel
          facilisis dui. Quisque tellus diam, pellentesque non vehicula sit
          amet, feugiat et lorem. Aenean eget mollis neque. In hendrerit odio et
          enim elementum convallis. Duis sagittis ipsum molestie justo venenatis
          pellentesque. Quisque cursus congue scelerisque. Nunc vestibulum velit
          elit. Donec egestas quam sit amet ex volutpat, id mattis ex dictum.
          Nam lacus quam, aliquam finibus lorem ornare, tincidunt consequat est.
          Maecenas ac turpis ullamcorper, consectetur leo vel, commodo orci.
          Fusce vitae hendrerit eros, in tincidunt mi. 
        </p>
      </div>
    </center>
  </div>
</div>
{% endblock %}
